<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="LoginTest">
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://www.jiohomes.com/"/>
  <parameter name="WBpath" value="login.xlsx"></parameter>
  <parameter name="filename" value="loginreport.html"></parameter>
 
    <classes>
      <class name="testcases.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test name="ShopTest">
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://www.jiohomes.com/"/>
  <parameter name="WBpath" value="Shop.xlsx"></parameter>
  <parameter name="filename" value="Shopreport.html"></parameter>
  <classes>
  <class name="testcases.ShopTest"/>
  </classes>
  </test>
</suite> <!-- Suite -->
